header {
    position: fixed;
    top: 0px;
    height: 48px;
    width: 1200px;
    left: calc((100% - 1200px) / 2);
    box-shadow: 1px 1px 1px 1px #a6a6a6;
}

.frogweb-scope {
    display: block;
    position: relative;
}

header > .frogweb-scope{
    height: 48px;
}

.frogweb-vertical-center{
    display: table;
    position: absolute;
    height: 50px;
}

a {
    text-decoration: none;
}

.frogweb-home-link {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    color: #666666;
    text-transform: capitalize;
    font-size: 30px;
    letter-spacing: 5px;
    padding : 5px;
}

.frogweb-home-link:hover {
    color: #3366cc;
    cursor: pointer;
}

frogweb-slogan {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: end;
    letter-spacing: 5px;
}

main > frogweb-side-nav {
    position: fixed;
    top: 50px;
    height: calc(100% - 100px);
    width: 250px;
    left: calc(((100% - 1200px) / 2));
    overflow-y: scroll;
}

main > frogweb-content {
    position: fixed;
    top: 50px;
    height: calc(100% - 100px);
    left: calc((100% - 1200px) / 2 + 250px);
    right: calc((100% - 1200px) / 2);
    overflow-y: scroll;
}

footer {
    position: fixed;
    bottom: 2px;
    height: 48px;
    width: 1200px;
    left: calc((100% - 1200px) / 2);
    box-shadow: 1px 1px 1px 1px #a6a6a6;
}
